<h1>Your card collection</h1>

<% if @user.cards.count == 0 %>

  <%= "You have no cards in your collection." %>

<% else %>

  <% @user.cards.uniq.each_with_index do |card, i| %>

    <p>

      <%= i + 1 %>. <a href="/cards/<%= card.id %>"><%= card.name %></a>  x <%= @user.cards.select {|c| c.name == card.name}.size %>

    </p>

  <% end %>

<% end %>
