<img class="img-fluid" src="<%= @card.img_url %>" alt="<%= @card.name %>">

<h3>Name: <%= @card.name %></h3>

<p>Type: <%= @card.card_type %></p>

<p>Colors: <%= mana_colors_to_img(@card.colors) %></p>

<p>Expansion: <%= @card.expansion %></p>

<p>Rarity: <%= @card.rarity %></p>

<p>Mana Cost: <%= mana_colors_to_img(@card.mana_cost) %></p>

<% if @card.power || @card.toughness %>

  <p>Power/Toughness: <%= "#{@card.power} / #{@card.toughness}" %></p>

<% end %>

<p>Text: <%= mana_colors_to_img(@card.card_text) %></p>

<% if @card.flavor_text %>

  <p>Flavor Text: <%= @card.flavor_text %></p>

<% end %>

<form action="/cards/<%= @card.id %>" method="post">

  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Card"> <strong>Deleting card will remove it from all decks.</strong>

</form>
