<form action="/decks/<%= @deck.id %>" method="post">

  <input type="hidden" id="hidden" name="_method" value="patch">

  <p>
    <h3>Deck Name: <%= @deck.name %></h3>
  </p>
  <p>
    <label for="name">Edit Deck Name: </label>
    <input type="text" id="name" name="deck[name]">
  </p>

  <p>
    <strong>Deck Color(s): <%= eval(@deck.color).join(" / ") %></strong>
  </p>
  <p>
    <label for="color">Deck Color(s): </label>
    <input type="checkbox" name="deck[color][]" value="White" id="White" <%= checked("White") %>>
    <label for="White">White</label>
    <input type="checkbox" name="deck[color][]" value="Black" id="Black" <%= checked("Black") %>>
    <label for="Black">Black</label>
    <input type="checkbox" name="deck[color][]" value="Green" id="Green" <%= checked("Green") %>>
    <label for="Green">Green</label>
    <input type="checkbox" name="deck[color][]" value="Red" id="Red" <%= checked("Red") %>>
    <label for="Red">Red</label>
    <input type="checkbox" name="deck[color][]" value="Blue" id="Blue" <%= checked("Blue") %>>
    <label for="Blue">Blue</label>
  </p>

  <p>
    <strong>Deck Size: <%= @deck.size %></strong>
  </p>
  <p>
    <label for="size">Edit Deck Size: </label>
    <input type="text" id="size" name="deck[size]">
  </p>



<p>To add a card, enter card name as shown on card:</p>

  <p>
    <label for="cardname">Add card: </label>
    <input type="text" id="cardname" name="card[name]">
  </p>

  <strong>or</strong> select an existing card:

  <select name="card[id]">

    <option value=""></option>

    <% Card.all.order(:name).uniq.each do |card| %>

      <option value="<%= card.id %>"><%= card.name %> (<%= "#{convert_colors(card)}" %>)</option>

    <% end %>

  </select>

  <input type="submit" value="Edit Deck">

</form>

<h3>Cards in Deck</h3>

<% if @deck.cards.count == 0 %>

<p>There are no cards in this deck.</p>

<% else %>

  <% @deck.cards.uniq.each_with_index do |card, i| %>

    <p><%= i + 1 %>. <a href="/cards/<%= card.id %>"><%= card.name %></a>  x <%= @deck.cards.select {|c| c.name == card.name}.size %></p>

    <form action="/cards/<%=card.id%>/<%=@deck.id%>" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Card" id="Delete Card">
    </form>

  <% end %>

<% end %>
