<h1>Your Decks</h1>

<a href="/decks/new">Create a New Deck</a>

<% @user.decks.each_with_index do |deck, i| %>

  <div class="deck">

    <h3>Deck# <%= i + 1  %></h3>

    <a href="/decks/<%= deck.id %>"><p>Deck Name: <%= deck.name %></p></a>

    <p>Deck Color(s): <%= eval(deck.color).join(" / ") %></p>

    <p>Deck Size: <%= deck.size %> cards </p>

<% end %>
