<p>Deck Name: <%= @deck.name %></p>

<p>Deck Color(s): <%= @deck.color %></p>

<p>Deck Size: <%= @deck.size %> cards </p>

<a href="/decks/<%= @deck.id %>/edit"><button type="button" name="button">Edit Deck</button></a>
<p></p>
<form action="/decks/<%=@deck.id%>" method="post">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete Deck" id="Delete Deck">
</form>
